@model IEnumerable<Rehleti.Models.Chalet>

@{
    ViewData["Title"] = "YourChalet";
}
@if (Model.Any())
{
<br />
<br />
<h1>@ViewData["Name"]'s Chalets</h1>
<br />

<div class="row">
        <div class="col-lg-12 grid-margin stretch-card">
            <div class="card">
                <div class="card-body">
                    <a class="btn btn-primary w-10 py-3" asp-controller="Chalets" asp-action="Create">Add New Chalets</a>
                    <div class="table-responsive">
                        <table id="Example1" class="table table-striped">
                            <thead>
                                <tr>
                                    <th>
                                        @Html.DisplayNameFor(model => model.Name)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.Description)
                                    </th>
                                    <th>
                                        Join Date
                                    </th>
                                    <th>
                                        Number Of Guests
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.Price)
                                    </th>
                                    <th>
                                        Image
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.Status)
                                    </th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Name)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Description)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.JoinDate)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.NumberOfGuests)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Price)
                                        </td>
                                        <td>
                                            @{
                                                var dir = AppDomain.CurrentDomain.BaseDirectory;
                                            }
                                            <img src="@Url.Content($"{dir}/Images/"+item.ImagePath)" asp-append-version=true height="50px" width="50px" style="border-radius:30%">
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Status)
                                        </td>
                                        <td>
                                            <a class="btn btn-primary w-60 py-3" asp-controller="Chalets" asp-action="Details" asp-route-id="@item.Id" style="margin:1.5px">Details</a>
                                            @if (item.Status == "Approved")
                                            {
                                                <a style="margin:1.5px" class="btn btn-primary w-100 py-3" asp-controller="ListOfDatesForChalets" asp-action="Index" asp-route-id="@item.Id">Add Check-In And Check-Out</a>
                                            }
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
}
else
{
    <br />
    <br />
    <br />
    <div class="container">
        <h3>You Don't Have A Chalet</h3>
        <br>
        <div class=" col-3">
            <a class="btn btn-primary w-100 py-3" asp-controller="Chalets" asp-action="Create">Add Your Chalet</a>
        </div>
    </div>
}